body{
    padding: 0;
    width: 80%;
    margin: auto;
}


img#elon{
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 300px;
    height: auto;
     
    margin: 50px;
    padding: 5px;
}

img#elon:hover{
    box-shadow:0 0 2px 1px rgba(230, 33, 7, 0.849);
}

img:hover{
    box-shadow:0 0 2px 1px rgba(0, 140, 186, 0.5);
}

img#elon{
    /* float: left; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#main-header{
    font-size: 1.25em;
    text-align: center;
    background-color: black;
    color:#fff;
    padding: 2px;
    margin: 0px 6px;
}


#box1{
    background-color: #000;
    margin-bottom: 0%;

}

#box2{
    font-size: 30px;
    color:#ffff;
}

.container{
    width: 100%;
    height: auto;

} 

#table{
    margin-left: auto;
    margin-right: auto;
}

img.image{
    width: 200px;
    height: auto;
    border: 2px;
    padding: 15px 15px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    
}

