body{
    width:  80%;
    margin: auto;
}

strong, h2{
    color: #f0c929;
}

p{
    color: #c0e218;
}

#main-header{
    text-align:         center;
    background-color: #000;
    color:            #c0e218;
    border-radius:      9px;
    padding:            3px;
    margin-top:         0%;
    
}

img:hover{
    box-shadow: 0 0 2px 1px rgba(226, 255, 44, 1);
}

img#image{
    display:        block;
    border-radius:  8px;
    width:          150px;
    height:         auto;
    margin-left:    auto;
    margin-right:   auto;
    margin-bottom:  4%;
    padding-bottom: 0%;
}

#Box-1{
    font-size:          60px;
    text-align:         center;
    padding-top:        20px;
    background-color: #282846;
    color:            #fff;
    border-radius:      9px;
    margin-top:         0%;
}

p.text-1{
    font-size:                  medium;
    text-align:                 center;
    background-color:         #c0e218;
    text-decoration:            solid;
    border-bottom-left-radius:  9px ;
    border-bottom-right-radius: 9px;
    color:                    #000;
    margin-top:                 0%;
    padding-bottom:             0;
}

#Box-2, #Box-3, #Box-4, #Box-5, #Box-6, #Box-7, #Box-8, #Box-9, #Box-10, #Box-11{
    background-color: #282846;
    color:            yellowgreen;
    border-radius:      9px;
    text-align:         center;
}

 
img#image-1{
    display:        block;
    border-radius:  8px;
    display:        block;
    margin-left:    auto;
    margin-right:   auto;
    width:          50%;
    height:         auto;
}


 

img#image-2{
    display:        block;
    width:          50%;
    height:         auto;
    border-radius:  8px;
    margin-left:    auto;
    margin-right:   auto;
}

img#image-3{
    display:        block;
    width:          50%;
    height:         auto;
    border-radius:  8px;
    margin-left:    auto;
    margin-right:   auto;
}

img#image-4{
    display:        block;
    width:          50%;
    height:         auto;
    border-radius:  8px;
    margin-left:    auto;
    margin-right:   auto;
}

img#image-5{
    display:        block;
    width:          50%;
    height:         auto;
    border-radius:  8px;
    margin-left:    auto;
    margin-right:   auto;
}

img#image-6{
    display:        block;
    width:          50%;
    height:         auto;
    border-radius:  8px;
    margin-left:    auto;
    margin-right:   auto;
}

img#image-7{
    display:        block;
    width:          50%;
    height:         auto;
    border-radius:  8px;
    margin-left:    auto;
    margin-right:   auto;
    margin-bottom:  0%;
}

#footer{
    text-align:         center;
    background-color: #000;
    border-radius:      9px;
    padding:            3px;
    margin-top:         0%;
}